<head>
    <title>Ryan DeYong's Programming Portfolio</title>
    <style>
        @keyframes pulse {
          0% {transform: scale(1, 1) rotate(10deg);}
          50% {transform: scale(1.5, 1.5) rotate(10deg);}
          100% {transform: scale(1, 1) rotate(10deg);}
        }
    
        body {background-color:#333;
                color:#eee;
                font-family:arial;}
		a {color:cyan;}
        a:visited {color:darkorange;}
        .https_floater {color:yellow;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
        position:absolute;
        right:60px;
        top:30px;
        padding:0px;
        margin:0px;
        transform: rotate(10deg);
        animation-name: pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        }
    </style>
</head>
<h2 class='https_floater'>@random_phrase</h2>
<h1>Ryan DeYong's Programming Portfolio</h1>
<a href='/'>Home</a>
<a href='/examples'>In-browser Examples</a>
<!--a href='/source'>Downloadable Source Code</a-->
<a href='/bash'>Bash Scripts</a>
<a href='/userscripts'>Chrome Userscripts</a>
<a href='https://bitbucket.org/TwixKitty/ryan_deyong_programming_portfolio_linux_binaries/src'>Website Front-End Source</a><br><hr>